<!doctype html>
{% load static %}
{% load staticfiles %}

<html>
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <h1>Library Books</h1>
  
  <div class="BookHolder">
  
	<h2>Learning django - 101</h2>
	
	<div>
		<p class="tag">Title :</p>
		<p class="text">Learning django - 101</p>
	</div>
	
	<div>
		<p class="tag">Author :</p>
		<p class="text">Mohammed Abunada</p>
	</div>
	
	<div>
		<p class="tag">Summary :</p>
		<p class="text">Summary 1</p>
	</div>
	
  </div>
  
  
</body>
</html>
			